{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="contaniner mt-0 jumbotron mt-4">
        <div class="row justify-content-center ">
            <div class="col-lg-10">
                <h1 class='text-center'>Enter your new password</h1>
                <form action="" method='post'>{% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-primary" type='submit'>Change Password</button>
                </form>
            </div>
        </div>    
    </div>


{% endblock content %}