{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    
    <div class="container  mt-4">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <h1 class='text-center'>Update A Book</h1>
                <form form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="form-group col-lg-6 mb-0">
                            {{ form.book_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-6 mb-0">
                            {{ form.author_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-6 mb-0">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-6 mb-0">
                            {{ form.price|as_crispy_field }}
                        </div>
                         <div class="form-group col-lg-6 mb-0">
                            {{ form.discount_price|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-6 mb-0">
                            {{ form.cover|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-12 mb-0">
                            {{ form.description|as_crispy_field }}
                        </div>
                        
                    </div>
                    <div class="d-grid col-lg-12 mb-4 mt-2">
                        <button type="submit" class="btn text-uppercase rounded-0 btn-block btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>

    

{% endblock content %}